<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="panda_link">
    <!-- Includes -->
    <xacro:include filename="panda_visual.xacro" />
    <xacro:include filename="panda_collision.xacro" />
    <xacro:include filename="panda_inertial.xacro" />
    <!-- Link -->
    <xacro:macro name="link" params="name visual:='' collision:='' inertial:='' *visual_block *collision_block *inertial_block">
        <link name="${ns}_${name}">
            <!-- Visual -->
            <xacro:unless value="${not visual}">
                <xacro:insert_block name="visual_block" />
            </xacro:unless>
            <!-- Collision -->
            <xacro:unless value="${not collision}">
                <xacro:insert_block name="collision_block" />
            </xacro:unless>
            <!-- Inertial -->
            <xacro:unless value="${not inertial}">
                <xacro:insert_block name="inertial_block" />
            </xacro:unless>
        </link>
    </xacro:macro>
</robot>